.sectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding: 2.5rem 0;
  width: 100%;
}

.title {
  color: var(--color-btn-text-sec);
}

@media (max-width: 960px) {
  .sectionGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
