.main {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 5.625rem;
  align-items: center;
  padding: 1.25rem;
}

.logoRow {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding-top: 1.25rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  margin: 0 0 0.75rem;
}
.title span {
  font-weight: 700;
}

.lead {
  margin: 0 0 1.5rem;
  max-width: 55ch;
  line-height: 1.8rem;
}

.ctaRow {
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.75rem 1.75rem;
  border-radius: 1.562rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-btn-text);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.btnMain {
  background-color: var(--color-btn-main);
}

.btnSec {
  background-color: var(--color-btn-sec);
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1.75rem;
    padding: 1.25rem 3.125rem;
  }
  .left,
  .right {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .devices {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .logoRow {
    padding: 0;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
  }
  .ctaRow {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .grid {
    padding: 1.25rem;
  }
}

@media (max-width: 389px) {
  .grid {
    padding: 0.625rem;
  }

  .title {
    font-size: 1.9rem;
  }
}
