.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex-shrink: 0;
}

.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #3f6c63;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

.active {
    font-weight: 700;
    text-decoration: underline;
}