.mainHome {
  padding: 40px;
}

.heroArticle {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 10px;
}

.flexLinks {
  display: flex;
  gap: 4px;
}

.links {
  background-color: aquamarine;
  padding: 1rem;
}
