.container {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}

.mainHeading {
  color: var(--color-bg-light);
  text-align: center;
}

@media (max-width: 960px) {
  .mainHeading {
    font-size: 2rem;
  }

  .container {
    padding: 1.25rem 0;
  }
}

@media (max-width: 470px) {
  .mainHeading {
    font-size: 1.5rem;
  }
}
